<!DOCTYPE html>
<html>
<head> 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
   
  <div class="topnav">
  <a href="/">GEMS</a>
  <a class='active' href="{{ url_for('checkin') }}">Check-In</a>
  <a href="{{ url_for('checkout') }}">Check-out</a>
  <a href="{{ url_for('host') }}">Host-Registration</a>
  <div class="topnav-right">
  <a href="{{ url_for('allhosts') }}">Host List</a>
  <a href="{{ url_for('visitors') }}">Visitor List</a>
  </div>
  </div> 

  <main id="main">
    <form id="survey-form" action = "{{ url_for('checkin') }}" method = "POST" >
      <div>
        <label for="name-label">Name</label>
      </div>
      <input type="text" class="pad" id="name-label" placeholder="Please enter your name" name = "name" required>
      <div>
        <label for="email-label">Email</label>
      </div>
      <input type="email" class="pad" id="email-label" placeholder="Please enter your email" name = "email" required>
      <div>
        <label for="number-label">Phone no.</label>
      </div>
      <input type="text" class="pad" id="number-label" placeholder="Phone Number" name = "phone" pattern="[6789][0-9]{9}" required>
      <div>
        <label for="number-label">Enter Host</label>
      </div>
      <div>
       <input list="hosts" class="pad" placeholder = "click to get the list of host" name="host">
          <datalist id="hosts">
            {% for hostName in hostNames %}
          <option value={{hostName[0]}}>
            {% endfor %}
          </datalist>
        </div>
        <div>
      <button id="submit"> Submit </button>
      </div>
    </form>

</body>
</main>
</html>