<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
   <body>

  <div class="topnav">
  <a  href="{{ url_for('checkin') }}">Check-In</a>
  <a href="{{ url_for('checkout') }}">Check-out</a>
  <a href="{{ url_for('host') }}">Host-Registration</a>
  <div class="topnav-right">
  <a href="{{ url_for('allhosts') }}">Host List</a>
  <a class='active' href="{{ url_for('visitors') }}">Visitor List</a>
  </div>
</div>
      <main >
      <table border = 1>
         <thead>
            <td>Name</td>
            <td>email</td>
            <td>phone</td>
            <td>Host</td>
            <td>Check-In</td>
            <td>Check-Out</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row["email"]}}</td>
               <td> {{row["phone"]}}</td>
               <td>{{row["host"]}}</td>
               <td>{{row["checkin"]}}</td>
               <td>{{row["checkout"]}}</td>
            </tr>
         {% endfor %}
      </table>
      
   </main>
   </body>
</html>