<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
   <body>

<div class="topnav">
  <a href="/"><img src="static/gem.png" class="icon">GEMS</a>
  <a  href="{{ url_for('checkin') }}">Check-In</a>
  <a href="{{ url_for('checkout') }}">Check-out</a>
  <a href="{{ url_for('pin') }}">Host-Registration</a>
  <div class="topnav-right">
     <a class='active' href="{{ url_for('allhosts') }}">Host List</a>
     <a href="{{ url_for('visitors') }}">Visitor List</a>
   </div>
</div>
      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>Email</th>
               <th>Phone</th>
               <th>Address</th>
            </tr>
         </thead>
         <tbody>
         {% for row in rows %}
            <tr>
               <td data-column="Name">{{row["name"]}}</td>
               <td data-column="Email">{{row["email"]}}</td>
               <td data-column="Phone"> {{row["phone"]}}</td>
               <td data-column="Address">{{row["address"]}}</td>
            </tr>
         {% endfor %}
         </tbody>
      </table>
   </body>
</html>